body {
	font-family: 'Fira Sans', sans-serif;
  background-image: url("https://i.imgur.com/ly8YLan.jpg");
  background-repeat: repeat;
  background-size: 100px;
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
.numeral {
	font-family: 'Lora', serif;
}
.sidenote:before {
	font-family: 'Lora', serif;
}
div.table-wrapper {
	font-family: 'Lora', serif;
}

.serif {
	font-family: 'Lora', serif; 
}

code, pre > code {
	font-family: 'Fira Code', monospace;
}
footer {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f5f5f5;
  margin-top: 0;
  margin-bottom: 0;
  height:80px;
}
.bodyContent {
  min-height: 100vh;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -80px;
  padding-bottom: 80px;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
