body {
	font-family: 'Fira Sans', sans-serif;
}
.numeral {
	font-family: 'Lora', serif;
}
.sidenote:before {
	font-family: 'Lora', serif;
}
div.table-wrapper {
	font-family: 'Lora', serif;
}

.serif {
	font-family: 'Lora', serif; 
}

code, pre > code {
	font-family: 'Fira Code', monospace;
}
